@import url(components/container.css);
@import url(components/avatar-round.css);
@import url(components/button.css);
@import url(components/banner.css);
@import url(components/page.css);



h1, h2, h3 {
    font-family: 'roboto', serif;
    font-weight: 500;


}

p, a {
    font-family: 'roboto', serif;
    font-weight: 300;
    text-decoration: none;
}
body {
    background-color: rgb(238, 228, 212);

}

#page-title {
    text-align: center;
    padding: 8px;
    background-color: rgb(228, 228, 228);
    color: rgb(34, 34, 34);
    border-radius: 0%;
    border-bottom: rgb(34, 34, 34);


}

#paragraphe {
    padding: 56px;
    font-size: 24px;
    color: rgb(45, 34, 16);
    text-align: justify;
}

footer {
    text-decoration: none;
    text-align: center;
    padding: 3px;
    background-color: rgb(45, 34, 16);
    color: rrgb(238, 228, 212);
  }
  .footer {
      text-decoration: none;
      color: rgb(238, 228, 212);
      margin-top: 32px;
  }