.avatar-round {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

#picture-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.616);
}

@media(min-width: 1280px) {
    .portfolio {
        display: flex;
        flex-flow: row;
        margin: 0;
        justify-content: center;
        background-color: rgb(238, 228, 212);
    }
}

@media(max-width: 1280px) {
    .portfolio {
        display: flex;
        flex-flow: column;
        margin: 0;
        justify-content: center;
        background-color: rgb(238, 228, 212);
    }
}

.member-card {
    text-align: center;
    margin: 5%;
}
