@media(min-width: 1280px) {
    .section-btn {
    width: 20%;
    text-align: center;
    margin: 0;
    text-decoration: none;
    padding: 0px;
    color: rgb(34, 34, 34);
    background-color: rgb(238, 228, 212);
    border-right: rgb(34, 34, 34);
    border-left: rgb(34, 34, 34);

    }
    .section-btn:hover {
    background-color: rgb(255, 249, 234);
    transition: 500ms;
    border-right: rgb(34, 34, 34);
    border-left: rgb(34, 34, 34);
    }
}

@media(max-width: 1280px) {
    .section-btn {
        width: auto;
        text-align: center;
        margin: 0;
        text-decoration: none;
        padding: 0px;
        color: rgb(34, 34, 34);
        background-color: rgb(238, 228, 212);

    }
    .section-btn:hover {
        background-color: rgb(255, 249, 234);
        transition: 500ms;

    }

    .section-btn-selected {
        width: auto;
        text-align: center;
        margin: 0;
        text-decoration: none;
        padding: 0px;
        color: rgb(248, 248, 248);
        background-color: rgb(34, 34, 34);
        border-bottom: 3px solid rgb(34, 34, 34);

    }
}


.header-text-selected {
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.header-text {
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.header-text:hover {
    color: rgb(110, 110, 110);
    
}


@media(max-width: 1280px) {
    .page-header {
        text-align: center;

    }
}

@media(min-width: 1280px) {
    .page-header {
        text-align: center;
    }
}

#page-header-text {
    text-decoration: none;
    color: rgb(45, 34, 16);
}



@media(min-width: 1280px) {
    .header {
    display: flex;
    flex-flow: row;
    margin: 0;
    justify-content: center;
    }
}
@media(max-width: 1280px) {
    .header {
    display: flex;
    flex-flow: column;
    margin: 0;
    justify-content: center;
    }
}